<%= form_with(model: url) do |form| %>
  <% if url.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_area :source %>
  </div>

  <div>
    <%= form.label :vanity, style: "display: block" %>
    <%= form.text_field :vanity %>
  </div>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.collection_select :user_id, @users, :id, :username %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
