<div id="<%= dom_id url %>">
  <p>
    <strong>Source:</strong>
    <%= url.source %>
  </p>

  <p>
    <strong>Vanity:</strong>
    <%= url.vanity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= url.user.username %>
  </p>
  <p>
    <strong>Visits:</strong>
    <%= url.visits %>
  </p>


</div>
