<p style="color: green"><%= notice %></p>

<%= render @user %>
<% @urls.each do |url| %>
  <%= link_to url.vanity, url_path(url.id)  %>
<% end %>
<br />
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
