<!DOCTYPE html>
<html>
  <head>
    <title>VanityUrl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%if @active_user %>
      <p>Logged in as <%= @active_user.username %></p>
    <% end  %>
  </body>
</html>
